body {
    margin: 0;
    padding: 0;
    height: 2000px;
    background: #1e1e1e;
    font-family: "Cuprum", sans-serif;
    scroll-behavior: smooth;
}

.div_u5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: #7722EE;
    margin-top: 100px;
}

/* Кнопка "Наверх" */
.ufive_uptop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    transform: scale(0.8) rotate(-90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ufive_uptop:hover {
    transform: scale(1) rotate(0deg);
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.ufive_uptop::before {
    content: "";
    position: absolute;
    top: 22.5px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: translateX(-50%) rotate(135deg);
}

/* Активная кнопка */
.ufive_upview {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}
